/* Variables */
:root {
    --color-fondo: #F4F1E8;
    --color-texto: #263238;
    --color-principal: #2F5D62;
    --color-acento: #A66A2C;
    --color-header-footer: #23474B;
} 
 
/*Reset Basico*/

* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
} 
 
/* Tipografia Global y Body*/
body { 
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  max-width: 1100px; 
  margin: 0 auto;    
  padding: 0 1rem;
}

/* Headings */

h1 {
  font-size: 2.5rem;
  color: var(--color-header-footer);
}

h2 {
  font-size: 2rem;
  color: var(--color-principal);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-acento);
}

/*  HEADER Y LOGO */
header {
  background-color: var(--color-header-footer);
  padding: 1.5rem;
  border-radius: 0 0 8px 8px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.header-top h1 {
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* NAVEGACIÓN */
nav {
  margin-top: 1.5rem;
}

nav ul {
  list-style: none; 
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--color-acento);
}

/* Contenedor que coloca los elementos lado a lado */
.galeria-imagenes {
  display: flex;
  gap: 1.5rem;
  justify-content: center; 
  margin-bottom: 1.5rem;
  flex-wrap: wrap; 
}

/* Ajuste del contenedor de cada imagen */
.galeria-imagenes figure {
  margin: 0;
  text-align: center;
}

/* Ajuste de la imagen */
.galeria-imagenes img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}